@import './_colours.scss';

.App {
  color: $wild-sand;
  padding: 5rem 0;
  min-width: 96rem;

  .heading {
    font-weight: bold;
    font-size: 3.6rem;
    letter-spacing: 0.5rem;
    margin-bottom: 3rem;
    text-shadow: 0.5rem 0.5rem rgba($grape, 0.8);
  }

  .generation {
    display: block;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    text-shadow: 0.3rem 0.3rem rgba($grape, 0.8);
  }
}
