@import './_fonts.scss';
@import './_colours.scss';

.App {
  color: $wild-sand;
  font-family: $font-family;
  padding: 50px 20px;
  font-size: 14px;

  .heading {
    font-weight: bold;
    font-size: 36px;
    text-shadow: 5px 5px rgba($grape, 0.8);
    letter-spacing: 5px;
    margin-bottom: 30px;
  }

  .generation {
    display: block;
    font-size: 20px;
    text-shadow: 3px 3px rgba($grape, 0.8);
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
}

.row {
  display: inline-flex;
  margin: 0 20px;
}

.board {
  margin: 10px auto;
}