@import './_colours.scss';

.Button {
  border: none;
  background-color: $grape;
  color: $wild-sand;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 4px;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    background-color: $wild-sand;
    color: $grape;
  }
}
