@import './_colours.scss';

.Button {
  border: none;
  background-color: $grape;
  color: $wild-sand;
  padding: 0.6rem 1.2rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  letter-spacing: 0.05rem;

  &:hover,
  &:active,
  &:focus {
    background-color: $wild-sand;
    color: $grape;
  }

  &:active {
    transform: translateY(0.1rem);
  }
}
