.Cell {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.4rem;
  margin: 0.1rem;
  text-align: center;
  background-color: rgba(black, 0.1);
  cursor: pointer;
  user-select: none;

  .emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1rem;
  }
}
