@import './_colours.scss';

html {
  overflow: hidden;
  height: 100%;
  font-size: 62.5%;
}

body {
  background: linear-gradient(to top right, $vivid-violet, $charm);
  overflow: auto;
  height: 100%;
  text-align: center;
  color: $wild-sand;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.4rem;
}

* {
  box-sizing: border-box;
}
