@import './_colours.scss';

@mixin button-highlighted() {
  background-color: $wild-sand;
  color: $grape;
}

.ToggleButton {
  input {
    display: none;
  }

  input:checked + label {
    @include button-highlighted();
  }

  label {
    background-color: $grape;
    color: $wild-sand;
    padding: 0.6rem 1.2rem;
    margin: 0.5rem;
    border-radius: 0.4rem;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    letter-spacing: 0.05rem;
    display: inline-block;
    user-select: none;

    &:hover,
    &:active,
    &:focus {
      @include button-highlighted();
    }
  
    &:active {
      transform: translateY(0.1rem);
    }
  }
}
